/* Selector universal */

*{
    background-color: indianred;
    color: darkslategray;
    font-size: italic;
}
/* Selector de elemente */

header{
    background-color: bisque;
    color: blueviolet;
    font-family: monospace;
}

h3{
    background-color: blueviolet;
    color: aquamarine;
}

/* Selector de clase */

.subTitulo{
    background-color: coral;
    color: khaki;
}

/* Selector de id */

#description{
    background-color: darksalmon;
    color: lemonchiffon;
    font-size: 1.2em;
}